.AddTuningModal-string {
    display: flex;
    flex-direction: row;
    padding: 16px 0 16px 0;
}

.AddTuningModal-string span {
    padding: 0 16px 0 0
}

.AddTuningModal .delete {
    margin: 0 0 0 8px;
    cursor: pointer;
}

.AddTuningModal .delete:hover {
    color: red;
}