.Fretboard {
    /* background: rgb(202, 181, 86); */
    /* max-width: calc(100% - 40px); */
    /* box-shadow: rgba(0, 0, 0, 0.288) 5px 5px 7px; */

    /* overflow-x: auto; */
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px 16px 20px 16px;
    box-sizing: border-box;
    background: var(--background-secondary);
    color: var(--text-color);
    border-radius: 0;
    scrollbar-color: var(--subtitle-color) var(--background-secondary);

    -webkit-overflow-scrolling: touch; /* lets it scroll lazy */
}

.Fretboard-buttons {
    right: 16px;
    bottom: 17px;
    padding: 16px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.Fretboard::-webkit-scrollbar {
    width: 1em;
}
 
.Fretboard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
    background: var(--background-secondary);
}
 
.Fretboard::-webkit-scrollbar-thumb {
  background-color: var(--subtitle-color);
  outline: 1px solid var(--subtitle-color);
}
