.NoteView {
    display: flex;
    flex-direction: row;
    width: 100%;
    width: 42px;

    .note-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2px 0 2px 0;
        width: 42px;
    }
    .fret {
        float: right;
        background: var(--fret-color);
        width: 1px;
        height: 100%;;
        margin-right: 0;
    }
    
    .string {
        height: var(--string-thickness, 1px);
        width: 25%;
        background: var(--string-color);
        border-radius: 999px;
        margin: 0 -1px 0 0;
    }
}
