@import "~nord/src/sass/nord";

.NutView {
    padding-top: 2px;
    width: 30px;
    min-width: 30px;
}

.NutView span.highlight-selected-note {
    color: $nord11 !important;
}

.NutView span.highlight-scale-note {
    color: $nord8 !important;
}

.NutView span.highlight {
    color: $nord14;
}
