.NutView {
    padding-top: 2px;
    width: 30px;
    min-width: 30px;
}

.NutView span.highlight-selected-note {
    color: var(--selection-primary) !important;
}

.NutView span.highlight-scale-note {
    color: var(--scale-primary) !important;
}

.NutView span.highlight {
    color: var(--focus-primary) !important;
}
