.NutView {
    $size: 26px;

    .btn {
        padding-top: 2px;
        width: $size;
        min-width: $size;
        height: $size;
        align-items: center;
        font-size: 10pt;
        overflow: hidden;
        justify-content: center;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border-radius: 2px;
        background: var(--background-color);
        color: var(--text-color);
        border-color: var(--note-outline-color);
    }

    .btn-outline-success {
        border-color: var(--accent-color);
        color: var(--accent-color);
        background: transparent;
    }

    .btn-outline-info {
        border-color: var(--link-color);
        color: var(--link-color);
        background: transparent;
    }

    .btn-outline-danger {
        border-color: #c82829;
        color: #c82829;
        background: transparent;
    }

    .highlight .btn {
        background: var(--accent-color);
        color: #ffffff;
        border-color: var(--accent-color);
    }

    .highlight-scale-note .btn {
        background: var(--link-color);
        color: #ffffff;
        border-color: var(--link-color);
    }

    .highlight-selected-note .btn {
        background: #c82829;
        color: #ffffff;
        border-color: #c82829;
    }
}

