@import "~nord/src/sass/nord";

.NutView {
    $size: 26px;

    .btn {
        padding-top: 2px;
        width: $size;
        min-width: $size;
        height: $size;
        align-items: center;
        font-size: 10pt;
        overflow: hidden;
        justify-content: center;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border-radius: 2px;
    }
}

