.ScaleSelector {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    margin-bottom: 16px;
}

.ScaleSelector-sequence {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 320px;
}

.ScaleSelector-selector {
    max-width: 320px;
}

.ScaleSelector-sequence span {
    width: 30px;
    padding: 5px 16px;
    border: 1px solid var(--subtitle-color);
    color: var(--text-color);
    background: var(--background-color);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.ScaleSelector-label {
    display: flex;
    align-items: center;
    margin: 16px 0 0 0;
    color: var(--subtitle-color);
    font-weight: 700;
    letter-spacing: -0.1px;
}

.ScaleSelector-label .dropdown {
    margin: 0 0 0 16px;
}
