.MarkerBoard {
    /* background: rgb(177, 159, 81); */
    display: flex;
    flex-direction: row;
    height: 20px;
}

.MarkerBoard .nut {
    width: 100%;
    /* background: rgba(255, 255, 255, 0.897); */
    max-width: 30px;
    min-width: 30px;
    /* box-shadow: #444 1px 1px 5px; */
    width: 30px;
}

.MarkerBoard .fret {
    width: 42px;
    max-width: 42px;
    min-width: 42px;
}

.MarkerBoard .dot {
    width: 100%;
    /* width: 42px; */
    max-width: 42px;
    min-width: 42px;
    padding-top: 4px;
    /* color: white; */
    /* font-size: 32px; */
    line-height: 19px;

}