.NoteDisplay {
    button {
        font-size: 10pt;
        width: 24px;   
        height: 24px;
        border: 1px solid var(--note-outline-color);
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        z-index: 3;
        margin: 0;
        padding: 0;
    }
}