.MarkerBoard {
    background: rgb(177, 159, 81);
    display: flex;
    flex-direction: row;
    height: 16px;
}

.MarkerBoard .nut {
    width: 100%;
    background: rgba(255, 255, 255, 0.897);
    max-width: 38px;

    
    box-shadow: #444 1px 1px 5px;
    min-width: 30px;
}

.MarkerBoard .fret {
    width: 100%;
    min-width: 48px;
}

.MarkerBoard .dot {
    width: 100%;
    min-width: 48px;
    color: white;
    font-size: 32px;
    line-height: 19px;

}