.NoteView {
    display: flex;
    flex-direction: row;
    width: 100%;
    width: 42px;
}

.NoteView .note-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 30px;
}

.NoteView .fret {
    float: right;
    background: #ddd;
    overflow: hidden;
    width: 3px;
    height: 100%;;
    margin-right: 0;
    box-shadow: #444 0px 0px 2px;
}

.NoteView .string {
    background: grey;
    height: 2px;
    width: calc(100% + 3px);
    position: relative;
    top: calc(50% - 1px);
    float: left;
    z-index: 2;
    box-shadow: #444 1px 1px 5px;
}

.NoteView .highlight {
    background: red !important;
}

.NoteView .note {
    font-size: 10pt;
    background: white;
    width: 24px;   
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    z-index: 3;
    margin: auto;
    box-shadow: #444 1px 1px 3px;
}

.NoteView .note:hover { 
    background: #ddd;
    box-shadow: #777 0px 0px 2px;
}
