.App {
  text-align: center;
}

.App-logo {
  margin: 20px;
  /* height: 80px; */
  /* width: 80px; */
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-fretboard-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}


