.App {
  text-align: center;
  overflow-x: hidden;
  background: #fff;
  height: 100vh;
}

.App .menu-button {
  margin-right: 20px;
  flex:1;
  text-align: right;
  padding-right: 20px;
}

.App-logo {
  margin: auto;
  height: 80px;
  width: 80px;
}

.App-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 6px;
}

.App-toolbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-toolbar-menu * {
  margin-left: 16px;
}

.App-pre-fretboard {
  margin: 20px;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  flex:1;
  text-align: left;
}

.App-intro {
  font-size: large;
}

.App-fretboard-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  background: #eee;
  padding-top: 16px;
  padding-bottom: 16px;
}




