@import "~nord/src/sass/nord";
@import "./colors";

.App {
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
}

.App .menu-button {
  margin-right: 20px;
  flex:1;
  text-align: right;
  padding-right: 20px;
}

.App-logo {
  margin: auto;
  height: 80px;
  width: 80px;
}

.App-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px 0px 16px;
}

.App-toolbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-pre-fretboard {
  margin: 20px;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  flex:1;
  text-align: left;
}

.App-intro {
  font-size: large;
}

.App-fretboard-container {
  display: flex;
  justify-content: center;
  margin: 16px 0 16px 0;
  background: var(--light);
  padding: 0;
}

.App-fretboard-button {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
