.App {
  /* display: flex; */
  text-align: center;
}

.App .menu-button {
  margin-right: 20px;
  flex:1;
  text-align: right;
  padding-right: 20px;
}

.App-logo {
  margin: auto;
  height: 80px;
  width: 80px;
}

.App-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.App-title {
  font-size: 1.5em;
  flex:1;
  text-align: left;
}

.App-intro {
  font-size: large;
}

.App-fretboard-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}


