:root {
  --background-primary: rgb(46,52,63);
  --background-secondary: rgb(59,66,83);
  --text: rgb(236,239,234);

  --selection-primary: rgb(191,97,106);
  --selection-text: rgb(46,52,63);

  --focus-primary: rgb(163, 190, 140);
  --focus-text: rgb(46,52,63);

  --scale-primary: rgb(136,192,208);
  --scale-text: rgb(46,52,63);
  --note-outline-color: #aaa;

  --fret-color: #777;
  --string-color: #aaa;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

html,
body {
  position: fixed;
  overflow: hidden;
  width:100%;
  height: 100vh;
}


body {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: sans-serif;
  background: var(--background);
}

.dropdown-menu {
  background: var(--background-secondary);
}

.dropdown-menu button {
  color: var(--text) !important;
}

.dropdown-menu button:hover {
  background: var(--background-primary) !important;
}

.dropdown-menu button:active {
  background: var(--focus-primary) !important;
  color: var(--background-primary) !important;
}

input {
  background: var(--background-primary) !important;
  color: var(--text) !important;
}
